### DATA VERSE (SAIS)

In [53]:
library(tidyverse)
library(repr)
library(tidymodels)
library(lubridate)
library(RColorBrewer)
options(repr.matrix.max.rows = 15)

In [54]:
items <- read_csv("items.csv")
items

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 17 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): item_name, item_type, drink_temperature, drink_type
dbl (2): price, production_cost

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   item_name           price production_cost item_type   drink_temperature
1  Espresso            3.00  0.80            Drink       Hot
2  Americano           3.50  1.00            Drink       Hot
3  Latte               4.50  1.20            Drink       Hot
4  Cappuccino          4.25  1.15            Drink       Hot
5  Flat White          4.75  1.25            Drink       Hot
6  Mocha               4.80  1.40            Drink       Hot
7  Iced Coffee         4.00  1.10            Drink       Cold
8  Cold Brew           4.75  1.35            Drink       Cold
⋮  ⋮                   ⋮     ⋮               ⋮           ⋮
11 Matcha Latte         5.25 1.6             Drink       Hot
12 Chai Latte           4.90 1.5             Drink       Hot
13 Green Tea            2.90 0.2             Drink       Hot
14 Hot Chocolate        4.25 1.1             Drink       Hot
15 Reusable Coffee Cup 15.00 6.0             Merchandise N/A
16 Tote Bag            12.00 4.0             Merchandise N/A
17 Coffee Beans (1 lb) 18.00 8.0             Merchandise N/A
   drink_type
1  Coffee
2  Coffee
3  Coffee
4  Coffee
5  Coffee
6  Coffee
7  Coffee
8  Coffee
⋮  ⋮
11 Tea
12 Tea
13 Tea
14 Other
15 NA
16 NA
17 NA

In [55]:
sales <- read_csv("sales.csv")
sales

Rows: 32605 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): item_name, transaction_type, own_cup
dbl  (1): customer_id
lgl  (1): surcharge
date (1): date
time (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      date       time     item_name     transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew     Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee   Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte    Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte         Dine-in          True    FALSE
5     2022-01-01 09:03:47 Latte         Takeout          False   FALSE
6     2022-01-01 10:02:30 Flat White    Takeout          True    FALSE
7     2022-01-01 10:29:29 Iced Latte    Takeout          False   FALSE
8     2022-01-01 10:53:39 Flat White    Takeout          True    FALSE
⋮     ⋮          ⋮        ⋮             ⋮                ⋮       ⋮
32599 2024-12-31 13:11:31 Cappuccino    Dine-in          True    FALSE
32600 2024-12-31 13:15:02 Hot Chocolate Takeout          True    FALSE
32601 2024-12-31 14:07:18 Green Tea     Dine-in          False   FALSE
32602 2024-12-31 14:24:08 Latte         Takeout          True    FALSE
32603 2024-12-31 14:36:31 Chai Latte    Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino    Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso      Dine-in          False   FALSE
      customer_id
1     26946
2     24356
3      3760
4      5900
5     11589
6      1786
7       904
8      4942
⋮     ⋮
32599 29931
32600 11609
32601 21936
32602 15914
32603 15227
32604 21314
32605 11063

In [56]:
item_name <- left_join(sales, items)
item_name

Joining with `by = join_by(item_name)`

      date       time     item_name     transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew     Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee   Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte    Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte         Dine-in          True    FALSE
5     2022-01-01 09:03:47 Latte         Takeout          False   FALSE
6     2022-01-01 10:02:30 Flat White    Takeout          True    FALSE
7     2022-01-01 10:29:29 Iced Latte    Takeout          False   FALSE
8     2022-01-01 10:53:39 Flat White    Takeout          True    FALSE
⋮     ⋮          ⋮        ⋮             ⋮                ⋮       ⋮
32599 2024-12-31 13:11:31 Cappuccino    Dine-in          True    FALSE
32600 2024-12-31 13:15:02 Hot Chocolate Takeout          True    FALSE
32601 2024-12-31 14:07:18 Green Tea     Dine-in          False   FALSE
32602 2024-12-31 14:24:08 Latte         Takeout          True    FALSE
32603 2024-12-31 14:36:31 Chai Latte    Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino    Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso      Dine-in          False   FALSE
      customer_id price production_cost item_type drink_temperature drink_type
1     26946       4.75  1.35            Drink     Cold              Coffee
2     24356       4.00  1.10            Drink     Cold              Coffee
3      3760       4.60  1.25            Drink     Cold              Coffee
4      5900       4.50  1.20            Drink     Hot               Coffee
5     11589       4.50  1.20            Drink     Hot               Coffee
6      1786       4.75  1.25            Drink     Hot               Coffee
7       904       4.60  1.25            Drink     Cold              Coffee
8      4942       4.75  1.25            Drink     Hot               Coffee
⋮     ⋮           ⋮     ⋮               ⋮         ⋮                 ⋮
32599 29931       4.25  1.15            Drink     Hot               Coffee
32600 11609       4.25  1.10            Drink     Hot               Other
32601 21936       2.90  0.20            Drink     Hot               Tea
32602 15914       4.50  1.20            Drink     Hot               Coffee
32603 15227       4.90  1.50            Drink     Hot               Tea
32604 21314       4.25  1.15            Drink     Hot               Coffee
32605 11063       3.00  0.80            Drink     Hot               Coffee

# **Wrangling:** Behaviour

# Question 1: 
How did drink sales change after the surcharge and rebrand, compared to merch?

In [57]:
before_surcharge <- item_name |>
                    filter(date < '2022-11-01') 
head(before_surcharge)

  date       time     item_name   transaction_type own_cup surcharge
1 2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2 2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3 2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4 2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
5 2022-01-01 09:03:47 Latte       Takeout          False   FALSE
6 2022-01-01 10:02:30 Flat White  Takeout          True    FALSE
  customer_id price production_cost item_type drink_temperature drink_type
1 26946       4.75  1.35            Drink     Cold              Coffee
2 24356       4.00  1.10            Drink     Cold              Coffee
3  3760       4.60  1.25            Drink     Cold              Coffee
4  5900       4.50  1.20            Drink     Hot               Coffee
5 11589       4.50  1.20            Drink     Hot               Coffee
6  1786       4.75  1.25            Drink     Hot               Coffee

In [58]:
after_surcharge <- item_name |>
                    filter(date >= '2023-11-01') 
head(after_surcharge)

  date       time     item_name           transaction_type own_cup surcharge
1 2023-11-01 07:02:12 Mocha               Takeout          False    TRUE
2 2023-11-01 07:03:20 Latte               Dine-in          True    FALSE
3 2023-11-01 08:18:11 Chai Latte          Dine-in          True    FALSE
4 2023-11-01 08:29:37 Hot Chocolate       Dine-in          True    FALSE
5 2023-11-01 08:48:22 Mocha               Takeout          True    FALSE
6 2023-11-01 08:48:22 Reusable Coffee Cup Takeout          N/A     FALSE
  customer_id price production_cost item_type   drink_temperature drink_type
1 18864        4.80 1.4             Drink       Hot               Coffee
2 11005        4.50 1.2             Drink       Hot               Coffee
3 16702        4.90 1.5             Drink       Hot               Tea
4  6228        4.25 1.1             Drink       Hot               Other
5 25702        4.80 1.4             Drink       Hot               Coffee
6 25702       15.00 6.0             Merchandise N/A               NA

# Question 2:
Are customers less likely to bring their own cups for cold drinks vs hot? Why might that be?

In [59]:
before_surcharge_summary <- before_surcharge |> 
    group_by(item_type) |>
    summarise(n = n()) |>
    select(item_type, n) 
before_surcharge_summary

  item_type   n
1 Drink       8122
2 Merchandise  403

In [60]:
after_surcharge_summary <- after_surcharge |> 
    group_by(item_type) |>
    summarise(n = n()) |>
    select(item_type, n) 
after_surcharge_summary

  item_type   n
1 Drink       12528
2 Merchandise  1253

In [61]:
cold <- after_surcharge |> 
        filter(drink_temperature == "Cold") |>
        mutate(total = n()) |>
        group_by(own_cup, total) |>
        summarise(n = n()) |>
        mutate(percentage = n/total)
cold

`summarise()` has grouped output by 'own_cup'. You can override using the
`.groups` argument.

  own_cup total n    percentage
1 False   3892  2606 0.6695786
2 True    3892  1286 0.3304214

In [62]:
hot <- after_surcharge |> 
        filter(drink_temperature == "Hot") |>
        mutate(total = n()) |>
        group_by(own_cup, total) |>
        summarise(n = n()) |>
        mutate(percentage = n/total)
hot

`summarise()` has grouped output by 'own_cup'. You can override using the
`.groups` argument.

  own_cup total n    percentage
1 False   8636  3824 0.4427976
2 True    8636  4812 0.5572024

# Question 3: 
Did weekday morning customers react differently to the surcharge than customers who come on weekends or
afternoons?

# Question 4:
Has the mix of dine-in vs takeout, the mix of customers coming
in on weekdays vs weekends, and/or the mix of customers
coming in on mornings vs the afternoons changed since Bean &
Brew started pushing a “stay and study” vibe?

# Question 5:
Did the construction period (Fall 2022) have longer-term effects
on customer patterns?