### DATA VERSE (SAIS)

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(lubridate)
library(RColorBrewer)
options(repr.matrix.max.rows = 15)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Dig deeper into tidy modeling with R at https://www.tmwr.org

In [2]:
items <- read_csv("items.csv")
items

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 17 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): item_name, item_type, drink_temperature, drink_type
dbl (2): price, production_cost

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   item_name           price production_cost item_type   drink_temperature
1  Espresso             3.00 0.80            Drink       Hot
2  Americano            3.50 1.00            Drink       Hot
3  Latte                4.50 1.20            Drink       Hot
4  Cappuccino           4.25 1.15            Drink       Hot
5  Flat White           4.75 1.25            Drink       Hot
6  Mocha                4.80 1.40            Drink       Hot
7  Iced Coffee          4.00 1.10            Drink       Cold
8  Cold Brew            4.75 1.35            Drink       Cold
9  Iced Latte           4.60 1.25            Drink       Cold
10 Iced Matcha Latte    5.25 1.60            Drink       Cold
11 Matcha Latte         5.25 1.60            Drink       Hot
12 Chai Latte           4.90 1.50            Drink       Hot
13 Green Tea            2.90 0.20            Drink       Hot
14 Hot Chocolate        4.25 1.10            Drink       Hot
15 Reusable Coffee Cup 15.00 6.00            Merchandise N/A
16 Tote Bag            12.00 4.00            Merchandise N/A
17 Coffee Beans (1 lb) 18.00 8.00            Merchandise N/A
   drink_type
1  Coffee
2  Coffee
3  Coffee
4  Coffee
5  Coffee
6  Coffee
7  Coffee
8  Coffee
9  Coffee
10 Tea
11 Tea
12 Tea
13 Tea
14 Other
15 NA
16 NA
17 NA

In [3]:
sales <- read_csv("sales.csv")
sales

Rows: 32605 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): item_name, transaction_type, own_cup
dbl  (1): customer_id
lgl  (1): surcharge
date (1): date
time (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      date       time     item_name         transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew         Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee       Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte        Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte             Dine-in          True    FALSE
5     2022-01-01 09:03:47 Latte             Takeout          False   FALSE
6     2022-01-01 10:02:30 Flat White        Takeout          True    FALSE
7     2022-01-01 10:29:29 Iced Latte        Takeout          False   FALSE
8     2022-01-01 10:53:39 Flat White        Takeout          True    FALSE
9     2022-01-01 10:59:50 Americano         Dine-in          True    FALSE
10    2022-01-01 11:02:54 Chai Latte        Takeout          False   FALSE
11    2022-01-01 11:10:10 Iced Coffee       Takeout          True    FALSE
12    2022-01-01 11:37:42 Matcha Latte      Takeout          False   FALSE
13    2022-01-01 11:51:50 Cold Brew         Takeout          True    FALSE
14    2022-01-01 12:35:16 Iced Latte        Takeout          True    FALSE
15    2022-01-01 14:04:54 Latte             Takeout          True    FALSE
16    2022-01-01 15:30:23 Cold Brew         Dine-in          True    FALSE
17    2022-01-01 15:55:21 Iced Coffee       Takeout          True    FALSE
18    2022-01-02 07:09:02 Iced Matcha Latte Takeout          False   FALSE
19    2022-01-02 07:30:08 Matcha Latte      Dine-in          True    FALSE
20    2022-01-02 07:40:06 Latte             Takeout          False   FALSE
21    2022-01-02 07:56:27 Green Tea         Takeout          False   FALSE
22    2022-01-02 08:26:25 Hot Chocolate     Takeout          True    FALSE
23    2022-01-02 08:47:16 Iced Matcha Latte Takeout          False   FALSE
24    2022-01-02 09:13:31 Iced Latte        Takeout          False   FALSE
25    2022-01-02 09:27:33 Iced Latte        Takeout          False   FALSE
26    2022-01-02 09:31:35 Latte             Takeout          True    FALSE
27    2022-01-02 10:08:01 Chai Latte        Takeout          False   FALSE
28    2022-01-02 10:19:33 Cold Brew         Dine-in          False   FALSE
29    2022-01-02 10:25:25 Americano         Takeout          False   FALSE
30    2022-01-02 10:30:10 Latte             Takeout          False   FALSE
⋮     ⋮          ⋮        ⋮                 ⋮                ⋮       ⋮
32576 2024-12-30 14:42:00 Matcha Latte      Dine-in          True    FALSE
32577 2024-12-30 14:48:11 Americano         Takeout          False    TRUE
32578 2024-12-30 15:04:51 Espresso          Takeout          True    FALSE
32579 2024-12-30 15:19:34 Cappuccino        Takeout          True    FALSE
32580 2024-12-30 15:26:00 Americano         Takeout          False    TRUE
32581 2024-12-30 15:29:33 Cold Brew         Takeout          True    FALSE
32582 2024-12-30 15:42:28 Americano         Takeout          False    TRUE
32583 2024-12-31 07:07:32 Latte             Takeout          False    TRUE
32584 2024-12-31 07:21:12 Iced Latte        Takeout          True    FALSE
32585 2024-12-31 07:45:00 Iced Matcha Latte Dine-in          False   FALSE
32586 2024-12-31 07:45:09 Iced Latte        Takeout          False    TRUE
32587 2024-12-31 08:16:14 Iced Matcha Latte Takeout          True    FALSE
32588 2024-12-31 08:23:06 Espresso          Dine-in          True    FALSE
32589 2024-12-31 10:01:42 Americano         Takeout          False    TRUE
32590 2024-12-31 10:44:21 Mocha             Dine-in          False   FALSE
32591 2024-12-31 10:50:03 Matcha Latte      Takeout          False    TRUE
32592 2024-12-31 11:15:27 Cold Brew         Dine-in          False   FALSE
32593 2024-12-31 11:20:46 Mocha             Dine-in          True    FALSE
32594 2024-12-31 11:33:29 Matcha Latte      Dine-in          False   FALSE
32595 2024-12-31 11:45:52 Matcha Latte      Dine-in          True    FALSE
32596 2024-12-31 11:47:19 Cappuccino        Takeout          False    TRUE
32597 2024-12-31 11:49:38 Cold Brew         Takeout          False    TRUE
32598 2024-12-31 12:22:35 Chai Latte        Takeout          False    TRUE
32599 2024-12-31 13:11:31 Cappuccino        Dine-in          True    FALSE
32600 2024-12-31 13:15:02 Hot Chocolate     Takeout          True    FALSE
32601 2024-12-31 14:07:18 Green Tea         Dine-in          False   FALSE
32602 2024-12-31 14:24:08 Latte             Takeout          True    FALSE
32603 2024-12-31 14:36:31 Chai Latte        Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino        Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso          Dine-in          False   FALSE
      customer_id
1     26946
2     24356
3      3760
4      5900
5     11589
6      1786
7       904
8      4942
9      7692
10    25702
11    28392
12    22643
13    20890
14    24017
15    25267
16     7962
17     3881
18    10167
19    20155
20    28392
21    12458
22     9514
23      948
24    16817
25    24115
26    15800
27    27177
28    14478
29     2674
30    25702
⋮     ⋮
32576 24667
32577 12053
32578 23907
32579 16509
32580 25702
32581 21936
32582 16727
32583 13107
32584  1255
32585  1873
32586 26887
32587 18063
32588 28586
32589 24356
32590 28719
32591   517
32592 15989
32593  2797
32594 29215
32595 21303
32596  3632
32597 24997
32598 19026
32599 29931
32600 11609
32601 21936
32602 15914
32603 15227
32604 21314
32605 11063

In [7]:
item_name <- left_join(sales, items)
item_name

Joining with `by = join_by(item_name)`

      date       time     item_name   transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
⋮     ⋮          ⋮        ⋮           ⋮                ⋮       ⋮
32602 2024-12-31 14:24:08 Latte       Takeout          True    FALSE
32603 2024-12-31 14:36:31 Chai Latte  Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino  Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso    Dine-in          False   FALSE
      customer_id price production_cost item_type drink_temperature drink_type
1     26946       4.75  1.35            Drink     Cold              Coffee
2     24356       4.00  1.10            Drink     Cold              Coffee
3      3760       4.60  1.25            Drink     Cold              Coffee
4      5900       4.50  1.20            Drink     Hot               Coffee
⋮     ⋮           ⋮     ⋮               ⋮         ⋮                 ⋮
32602 15914       4.50  1.20            Drink     Hot               Coffee
32603 15227       4.90  1.50            Drink     Hot               Tea
32604 21314       4.25  1.15            Drink     Hot               Coffee
32605 11063       3.00  0.80            Drink     Hot               Coffee

## Wrangling

In [35]:
before_surcharge <- item_name |>
                    filter(date < '2022-11-01') 
head(before_surcharge)

  date       time     item_name   transaction_type own_cup surcharge
1 2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2 2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3 2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4 2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
5 2022-01-01 09:03:47 Latte       Takeout          False   FALSE
6 2022-01-01 10:02:30 Flat White  Takeout          True    FALSE
  customer_id price production_cost item_type drink_temperature drink_type
1 26946       4.75  1.35            Drink     Cold              Coffee
2 24356       4.00  1.10            Drink     Cold              Coffee
3  3760       4.60  1.25            Drink     Cold              Coffee
4  5900       4.50  1.20            Drink     Hot               Coffee
5 11589       4.50  1.20            Drink     Hot               Coffee
6  1786       4.75  1.25            Drink     Hot               Coffee

In [36]:
after_surcharge <- item_name |>
                    filter(date >= '2023-11-01') 
head(after_surcharge)

  date       time     item_name           transaction_type own_cup surcharge
1 2023-11-01 07:02:12 Mocha               Takeout          False    TRUE
2 2023-11-01 07:03:20 Latte               Dine-in          True    FALSE
3 2023-11-01 08:18:11 Chai Latte          Dine-in          True    FALSE
4 2023-11-01 08:29:37 Hot Chocolate       Dine-in          True    FALSE
5 2023-11-01 08:48:22 Mocha               Takeout          True    FALSE
6 2023-11-01 08:48:22 Reusable Coffee Cup Takeout          N/A     FALSE
  customer_id price production_cost item_type   drink_temperature drink_type
1 18864        4.80 1.4             Drink       Hot               Coffee
2 11005        4.50 1.2             Drink       Hot               Coffee
3 16702        4.90 1.5             Drink       Hot               Tea
4  6228        4.25 1.1             Drink       Hot               Other
5 25702        4.80 1.4             Drink       Hot               Coffee
6 25702       15.00 6.0             Merchandise N/A               NA

In [37]:
before_surcharge_summary <- before_surcharge |> 
    group_by(item_type) |>
    summarise(n = n()) |>
    select(item_type, n) 
before_surcharge_summary

  item_type   n
1 Drink       8122
2 Merchandise  403

In [ ]:
after_surcharge_summary <- after_surcharge |> 
    group_by(item_type) |>
    summarise(n = n()) |>
    select(item_type, n) 
after_surcharge_summary

  item_type   n
1 Drink       12528
2 Merchandise  1253

In [11]:
cold <- after_surcharge |> 
        filter(drink_temperature == "Cold") |>
        count() 
cold_own <- after_surcharge |> 
        filter(drink_temperature == "Cold") |>
        filter(own_cup == "True") |>
        count() 

cold
cold_own

  n
1 3892

  n
1 1286

In [12]:
hot <- after_surcharge |> 
        filter(drink_temperature == "Hot") |>
        count() 
hot_own <- after_surcharge |> 
        filter(drink_temperature == "Hot") |>
        filter(own_cup == "True") |>
        count() 
hot
hot_own

  n
1 8636

  n
1 4812