### DATA VERSE (SAIS)

In [1]:
library(tidyverse)
library(repr)
library(tidymodels)
library(lubridate)
library(RColorBrewer)
options(repr.matrix.max.rows = 8)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.

In [2]:
items <- read_csv("items.csv")
items

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 17 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): item_name, item_type, drink_temperature, drink_type
dbl (2): price, production_cost

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   item_name           price production_cost item_type   drink_temperature
1  Espresso            3.00  0.80            Drink       Hot
2  Americano           3.50  1.00            Drink       Hot
3  Latte               4.50  1.20            Drink       Hot
4  Cappuccino          4.25  1.15            Drink       Hot
⋮  ⋮                   ⋮     ⋮               ⋮           ⋮
14 Hot Chocolate        4.25 1.1             Drink       Hot
15 Reusable Coffee Cup 15.00 6.0             Merchandise N/A
16 Tote Bag            12.00 4.0             Merchandise N/A
17 Coffee Beans (1 lb) 18.00 8.0             Merchandise N/A
   drink_type
1  Coffee
2  Coffee
3  Coffee
4  Coffee
⋮  ⋮
14 Other
15 NA
16 NA
17 NA

In [3]:
sales <- read_csv("sales.csv")
sales

Rows: 32605 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): item_name, transaction_type, own_cup
dbl  (1): customer_id
lgl  (1): surcharge
date (1): date
time (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      date       time     item_name   transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
⋮     ⋮          ⋮        ⋮           ⋮                ⋮       ⋮
32602 2024-12-31 14:24:08 Latte       Takeout          True    FALSE
32603 2024-12-31 14:36:31 Chai Latte  Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino  Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso    Dine-in          False   FALSE
      customer_id
1     26946
2     24356
3      3760
4      5900
⋮     ⋮
32602 15914
32603 15227
32604 21314
32605 11063