### DATA VERSE (SAIS)

In [5]:
library(tidyverse)
library(repr)
library(tidymodels)
library(lubridate)
library(RColorBrewer)
options(repr.matrix.max.rows = 8)

In [6]:
items <- read_csv("items.csv")
items

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”
Rows: 17 Columns: 6
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): item_name, item_type, drink_temperature, drink_type
dbl (2): price, production_cost

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

   item_name           price production_cost item_type   drink_temperature
1  Espresso            3.00  0.80            Drink       Hot
2  Americano           3.50  1.00            Drink       Hot
3  Latte               4.50  1.20            Drink       Hot
4  Cappuccino          4.25  1.15            Drink       Hot
⋮  ⋮                   ⋮     ⋮               ⋮           ⋮
14 Hot Chocolate        4.25 1.1             Drink       Hot
15 Reusable Coffee Cup 15.00 6.0             Merchandise N/A
16 Tote Bag            12.00 4.0             Merchandise N/A
17 Coffee Beans (1 lb) 18.00 8.0             Merchandise N/A
   drink_type
1  Coffee
2  Coffee
3  Coffee
4  Coffee
⋮  ⋮
14 Other
15 NA
16 NA
17 NA

In [7]:
sales <- read_csv("sales.csv")
sales

Rows: 32605 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): item_name, transaction_type, own_cup
dbl  (1): customer_id
lgl  (1): surcharge
date (1): date
time (1): time

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

      date       time     item_name   transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
⋮     ⋮          ⋮        ⋮           ⋮                ⋮       ⋮
32602 2024-12-31 14:24:08 Latte       Takeout          True    FALSE
32603 2024-12-31 14:36:31 Chai Latte  Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino  Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso    Dine-in          False   FALSE
      customer_id
1     26946
2     24356
3      3760
4      5900
⋮     ⋮
32602 15914
32603 15227
32604 21314
32605 11063

In [8]:
item_name <- left_join(sales, items)
item_name

Joining with `by = join_by(item_name)`

      date       time     item_name   transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
⋮     ⋮          ⋮        ⋮           ⋮                ⋮       ⋮
32602 2024-12-31 14:24:08 Latte       Takeout          True    FALSE
32603 2024-12-31 14:36:31 Chai Latte  Dine-in          True    FALSE
32604 2024-12-31 14:57:19 Cappuccino  Takeout          True    FALSE
32605 2024-12-31 15:30:12 Espresso    Dine-in          False   FALSE
      customer_id price production_cost item_type drink_temperature drink_type
1     26946       4.75  1.35            Drink     Cold              Coffee
2     24356       4.00  1.10            Drink     Cold              Coffee
3      3760       4.60  1.25            Drink     Cold              Coffee
4      5900       4.50  1.20            Drink     Hot               Coffee
⋮     ⋮           ⋮     ⋮               ⋮         ⋮                 ⋮
32602 15914       4.50  1.20            Drink     Hot               Coffee
32603 15227       4.90  1.50            Drink     Hot               Tea
32604 21314       4.25  1.15            Drink     Hot               Coffee
32605 11063       3.00  0.80            Drink     Hot               Coffee

## Wrangling

In [9]:
before_surcharge <- item_name |>
                    filter(surcharge == FALSE)
before_surcharge

      date       time     item_name   transaction_type own_cup surcharge
1     2022-01-01 07:03:30 Cold Brew   Takeout          True    FALSE
2     2022-01-01 07:30:58 Iced Coffee Takeout          True    FALSE
3     2022-01-01 08:32:23 Iced Latte  Takeout          False   FALSE
4     2022-01-01 08:45:03 Latte       Dine-in          True    FALSE
⋮     ⋮          ⋮        ⋮           ⋮                ⋮       ⋮
29150 2024-12-31 14:24:08 Latte       Takeout          True    FALSE
29151 2024-12-31 14:36:31 Chai Latte  Dine-in          True    FALSE
29152 2024-12-31 14:57:19 Cappuccino  Takeout          True    FALSE
29153 2024-12-31 15:30:12 Espresso    Dine-in          False   FALSE
      customer_id price production_cost item_type drink_temperature drink_type
1     26946       4.75  1.35            Drink     Cold              Coffee
2     24356       4.00  1.10            Drink     Cold              Coffee
3      3760       4.60  1.25            Drink     Cold              Coffee
4      5900       4.50  1.20            Drink     Hot               Coffee
⋮     ⋮           ⋮     ⋮               ⋮         ⋮                 ⋮
29150 15914       4.50  1.20            Drink     Hot               Coffee
29151 15227       4.90  1.50            Drink     Hot               Tea
29152 21314       4.25  1.15            Drink     Hot               Coffee
29153 11063       3.00  0.80            Drink     Hot               Coffee

In [10]:
after_surcharge <- item_name |>
                    filter(surcharge == TRUE)
after_surcharge

     date       time     item_name         transaction_type own_cup surcharge
1    2023-11-01 07:02:12 Mocha             Takeout          False   TRUE
2    2023-11-01 09:30:36 Green Tea         Takeout          False   TRUE
3    2023-11-01 09:50:51 Iced Matcha Latte Takeout          False   TRUE
4    2023-11-01 11:57:16 Green Tea         Takeout          False   TRUE
⋮    ⋮          ⋮        ⋮                 ⋮                ⋮       ⋮
3449 2024-12-31 10:50:03 Matcha Latte      Takeout          False   TRUE
3450 2024-12-31 11:47:19 Cappuccino        Takeout          False   TRUE
3451 2024-12-31 11:49:38 Cold Brew         Takeout          False   TRUE
3452 2024-12-31 12:22:35 Chai Latte        Takeout          False   TRUE
     customer_id price production_cost item_type drink_temperature drink_type
1    18864       4.80  1.4             Drink     Hot               Coffee
2    12545       2.90  0.2             Drink     Hot               Tea
3     3881       5.25  1.6             Drink     Cold              Tea
4    29715       2.90  0.2             Drink     Hot               Tea
⋮    ⋮           ⋮     ⋮               ⋮         ⋮                 ⋮
3449   517       5.25  1.60            Drink     Hot               Tea
3450  3632       4.25  1.15            Drink     Hot               Coffee
3451 24997       4.75  1.35            Drink     Cold              Coffee
3452 19026       4.90  1.50            Drink     Hot               Tea